# Applying Classification Modeling
The goal of this week's assessment is to find the model which best predicts whether or not a person will default on their bank loan. In doing so, we want to utilize all of the different tools we have learned over the course: data cleaning, EDA, feature engineering/transformation, feature selection, hyperparameter tuning, and model evaluation. 


#### Data Set Information:

This research aimed at the case of customers default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. Because the real probability of default is unknown, this study presented the novel Sorting Smoothing Method to estimate the real probability of default. With the real probability of default as the response variable (Y), and the predictive probability of default as the independent variable (X), the simple linear regression result (Y = A + BX) shows that the forecasting model produced by artificial neural network has the highest coefficient of determination; its regression intercept (A) is close to zero, and regression coefficient (B) to one. Therefore, among the six data mining techniques, artificial neural network is the only one that can accurately estimate the real probability of default. 

- NT is the abbreviation for New Taiwain. 


#### Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 
- X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
- X2: Gender (1 = male; 2 = female). 
- X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
- X4: Marital status (1 = married; 2 = single; 3 = others). 
- X5: Age (year). 
- X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: 
    - X6 = the repayment status in September, 2005; 
    - X7 = the repayment status in August, 2005; . . .;
    - etc...
    - X11 = the repayment status in April, 2005. 
    - The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
- X12-X17: Amount of bill statement (NT dollar). 
    - X12 = amount of bill statement in September, 2005;
    - etc...
    - X13 = amount of bill statement in August, 2005; . . .; 
    - X17 = amount of bill statement in April, 2005. 
- X18-X23: Amount of previous payment (NT dollar). 
    - X18 = amount paid in September, 2005; 
    - X19 = amount paid in August, 2005; . . .;
    - etc...
    - X23 = amount paid in April, 2005. 




You will fit three different models (KNN, Logistic Regression, and Decision Tree Classifier) to predict credit card defaults and use gridsearch to find the best hyperparameters for those models. Then you will compare the performance of those three models on a test set to find the best one.

## Process/Expectations

- You will be working in pairs for this assessment

### Please have ONE notebook and be prepared to explain how you worked in your pair.

1. Clean up your data set so that you can perform an EDA. 
    - This includes handling null values, categorical variables, removing unimportant columns, and removing outliers.
2. Perform EDA to identify opportunities to create new features.
    - [Great Example of EDA for classification](https://www.kaggle.com/stephaniestallworth/titanic-eda-classification-end-to-end) 
    - [Using Pairplots with Classification](https://towardsdatascience.com/visualizing-data-with-pair-plots-in-python-f228cf529166)
3. Engineer new features. 
    - Create polynomial and/or interaction features. 
    - Additionaly, you must also create **at least 2 new features** that are not interactions or polynomial transformations. 
        - *For example, you can create a new dummy variable that based on the value of a continuous variable (billamount6 >2000) or take the average of some past amounts.*
4. Perform some feature selection. 
    
5. You must fit **three** models to your data and tune **at least 1 hyperparameter** per model. 
6. Using the F-1 Score, evaluate how well your models perform and identify your best model.
7. Using information from your EDA process and your model(s) output provide insight as to which borrowers are more likely to deafult

In [1]:
# import libraries

import pandas as pd
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from jupyterthemes import jtplot



jtplot.style(theme='monokai', context='notebook', ticks=True, grid=False)

## 1. Data Cleaning

In [12]:
df = pd.read_csv('training_data.csv', index_col=0, )

In [13]:
df.Y.value_counts()

0                             17471
1                              5028
default payment next month        1
Name: Y, dtype: int64

In [14]:
df.X3.value_counts()

2            10516
1             7919
3             3713
5              208
4               90
6               42
0               11
EDUCATION        1
Name: X3, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
# Split data to be used in the models
# Create matrix of features
X = df.drop('Y', axis = 1) # grabs everything else but 'Survived'


# Create target variable
y = df['Y'] # y is the column we're trying to predict

In [9]:
X

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
28835,220000,2,1,2,36,0,0,0,0,0,...,217900,221193,181859,184605,10000,8018,10121,6006,10987,143779
25329,200000,2,3,2,29,-1,-1,-1,-1,-1,...,326,326,326,326,326,326,326,326,326,326
18894,180000,2,1,2,27,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
690,80000,1,2,2,32,0,0,0,0,0,...,47593,43882,42256,42527,1853,1700,1522,1548,1488,1500
6239,10000,1,2,2,27,0,0,0,0,0,...,4878,5444,2639,2697,2000,1100,600,300,300,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16247,40000,2,2,1,38,0,0,3,2,2,...,39477,39924,39004,41462,4600,1200,1400,0,3069,0
2693,350000,1,1,1,42,-1,-1,-1,-1,-1,...,4150,3750,1362,8210,3138,4160,3750,2272,8210,9731
8076,100000,2,3,2,46,1,-1,2,2,-1,...,203,0,7856,16544,203,0,0,7856,10000,865
20213,20000,2,3,1,50,-1,-1,-1,-1,-2,...,6906,0,0,0,3754,6906,290,0,0,0
7624,20000,2,1,2,25,1,2,2,2,2,...,17994,17412,18422,18768,1000,6000,0,1600,800,800

In [18]:
df.head()

ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
28835,220000,2,1,2,36,0,0,0,0,0,...,221193,181859,184605,10000,8018,10121,6006,10987,143779,1
25329,200000,2,3,2,29,-1,-1,-1,-1,-1,...,326,326,326,326,326,326,326,326,326,0
18894,180000,2,1,2,27,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
690,80000,1,2,2,32,0,0,0,0,0,...,43882,42256,42527,1853,1700,1522,1548,1488,1500,0
6239,10000,1,2,2,27,0,0,0,0,0,...,5444,2639,2697,2000,1100,600,300,300,1000,1

In [15]:
df.columns = df.loc['ID']

In [28]:
pd.cut()

NameError: name 'ID' is not defined

In [16]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object', name='ID')

In [17]:
df= df[df['SEX'] != 'SEX']

In [19]:
for column in df.columns:
    print (df[column].value_counts())

50000      2534
20000      1488
30000      1223
80000      1210
200000     1134
           ...
740000        1
690000        1
327680        1
1000000       1
800000        1
Name: LIMIT_BAL, Length: 80, dtype: int64
2    13572
1     8927
Name: SEX, dtype: int64
2    10516
1     7919
3     3713
5      208
4       90
6       42
0       11
Name: EDUCATION, dtype: int64
2    12026
1    10195
3      234
0       44
Name: MARRIAGE, dtype: int64
29    1243
27    1100
28    1064
30    1026
26     959
25     904
31     902
32     878
33     874
34     859
24     851
35     841
36     812
37     799
38     720
39     703
23     690
40     656
41     613
42     597
44     512
43     495
45     462
46     421
22     420
47     340
48     339
49     326
50     298
51     269
53     241
52     236
54     184
55     154
56     147
57      89
58      89
59      62
21      56
60      56
61      45
62      32
64      24
63      24
66      21
65      17
67      13
69      10
70      10
68       5
72       3
73       3
71       2
75       2
74       1
Name: AGE, dtype: int64
0     11057
-1     4272
1      2750
-2     2048
2      2032
3       239
4        51
5        20
8        15
6         9
7         6
Name: PAY_0, dtype: int64
0     11804
-1     4526
2      2967
-2     2813
3       251
4        70
1        24
5        19
7        16
6         8
8         1
Name: PAY_2, dtype: int64
0     11823
-1     4464
-2     3024
2      2891
3       177
4        58
7        22
6        19
5        15
1         4
8         2
Name: PAY_3, dtype: int64
0     12330
-1     4281
-2     3227
2      2390
3       138
4        49
7        47
5        28
6         5
1         2
8         2
Name: PAY_4, dtype: int64
0     12706
-1     4124
-2     3401
2      2014
3       128
4        59
7        47
5        16
6         3
8         1
Name: PAY_5, dtype: int64
0     12233
-1     4284
-2     3663
2      2078
3       140
4        38
7        38
6        14
5         9
8         2
Name: PAY_6, dtype: int64
0         1492
390        182
326         59
780         52
316         49
          ...
1030         1
15667        1
13311        1
100908       1
2070         1
Name: BILL_AMT1, Length: 17664, dtype: int64
0        1849
390       172
326        60
780        60
316        59
         ...
10497       1
43608       1
49413       1
2338        1
24770       1
Name: BILL_AMT2, Length: 17340, dtype: int64
0         2129
390        212
326         53
316         51
780         50
          ...
12969        1
131218       1
2371         1
37825        1
1663         1
Name: BILL_AMT3, Length: 17115, dtype: int64
0         2390
390        179
780         66
316         54
326         48
          ...
23837        1
66311        1
44858        1
219615       1
15089        1
Name: BILL_AMT4, Length: 16767, dtype: int64
0         2594
390        182
780         74
316         65
326         48
          ...
4861         1
28739        1
101298       1
154294       1
10998        1
Name: BILL_AMT5, Length: 16325, dtype: int64
0         3000
390        160
780         68
316         63
150         59
          ...
54093        1
49947        1
77448        1
15057        1
168946       1
Name: BILL_AMT6, Length: 16092, dtype: int64
0        3905
2000     1012
3000      682
5000      539
1500      394
         ...
1401        1
9152        1
28100       1
1608        1
16783       1
Name: PAY_AMT1, Length: 6630, dtype: int64
0        4036
2000      982
3000      640
5000      542
1000      438
         ...
20154       1
9498        1
3166        1
3527        1
15089       1
Name: PAY_AMT2, Length: 6568, dtype: int64
0        4440
2000      977
1000      838
3000      634
5000      541
         ...
7260        1
50988       1
4199        1
7365        1
7737        1
Name: PAY_AMT3, Length: 6257, dtype: int64
0        4840
1000     1077
2000      910
3000      661
5000      603
         ...
1274        1
15643       1
10007       1
3606        1
15089       1
Name: PAY_AMT4, Length: 5756, dtype: int64
0        5015
1000     1012
2000      974
3000      700
5000      612
         ...
774         1
7095        1
1395        1
13729       1
7440        1
Name: PAY_AMT5, Length: 5749, dtype: int64
0         5418
1000       974
2000       958
3000       685
5000       607
          ...
9010         1
21300        1
9480         1
112742       1
17188        1
Name: PAY_AMT6, Length: 5788, dtype: int64
0    17471
1     5028
Name: default payment next month, dtype: int64

In [20]:
df['EDUCATION']= df['EDUCATION'].map(lambda x: int(x))
df['MARRIAGE']= df['MARRIAGE'].map(lambda x: int(x))

In [21]:
df['EDUCATION']= np.where(df['EDUCATION'] > 4, 4, df['EDUCATION'])
df['EDUCATION']= np.where(df['EDUCATION'] < 1, 4, df['EDUCATION'])

In [22]:
df['MARRIAGE']= np.where(df['MARRIAGE'] > 3, 3, df['MARRIAGE'])
df['MARRIAGE']= np.where(df['MARRIAGE'] < 1, 3, df['MARRIAGE'])

In [23]:
df = df.astype(float)

In [24]:
clean_df = pd.get_dummies(df, columns=['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'], drop_first=True)

In [25]:
clean_df.rename(columns={"default payment next month": "DEFAULT"},inplace=True)

In [26]:
clean_df

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,PAY_5_8.0,PAY_6_-1.0,PAY_6_0.0,PAY_6_2.0,PAY_6_3.0,PAY_6_4.0,PAY_6_5.0,PAY_6_6.0,PAY_6_7.0,PAY_6_8.0
28835,220000.0,36.0,222598.0,222168.0,217900.0,221193.0,181859.0,184605.0,10000.0,8018.0,...,0,0,1,0,0,0,0,0,0,0
25329,200000.0,29.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,...,0,1,0,0,0,0,0,0,0,0
18894,180000.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
690,80000.0,32.0,51372.0,51872.0,47593.0,43882.0,42256.0,42527.0,1853.0,1700.0,...,0,0,1,0,0,0,0,0,0,0
6239,10000.0,27.0,8257.0,7995.0,4878.0,5444.0,2639.0,2697.0,2000.0,1100.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16247,40000.0,38.0,35183.0,39197.0,39477.0,39924.0,39004.0,41462.0,4600.0,1200.0,...,0,0,0,1,0,0,0,0,0,0
2693,350000.0,42.0,3800.0,3138.0,4150.0,3750.0,1362.0,8210.0,3138.0,4160.0,...,0,1,0,0,0,0,0,0,0,0
8076,100000.0,46.0,0.0,203.0,203.0,0.0,7856.0,16544.0,203.0,0.0,...,0,0,1,0,0,0,0,0,0,0
20213,20000.0,50.0,5141.0,3455.0,6906.0,0.0,0.0,0.0,3754.0,6906.0,...,0,0,0,0,0,0,0,0,0,0
7624,20000.0,25.0,11729.0,12236.0,17994.0,17412.0,18422.0,18768.0,1000.0,6000.0,...,0,0,0,1,0,0,0,0,0,0

## 2. EDA

## 3. Feature Engineering

## 4. Feature Selection

## 5. Model Fitting and Hyperparameter Tuning
KNN, Logistic Regression, Decision Tree

## 6. Model Evaluation

## 7. Final Model